## 1. Contexto
En este conjunto de datos relacionados con los pingüinos implica examinar y visualizar los patrones y relaciones presentes en los datos. A continuacion, se busca respuesta a las siguientes preguntas:

    1. ¿Cual es la vida promedio de un pinguino?
    2. ¿Viven as las hembras o los machos?
    3. ¿La altura es un rasgo distintivo del sexo?
    4. ¿Cual es la proporción altura/ancho de los picos?
    5. ¿Qué tipo de datos son las variables del conjunto de datos?
    6. ¿Cuantas variables de cada tipo de dato tenemos en el conjunto de datos?
    7. ¿Cuantas observaciones y variables tenemos en el conjunto de datos?
    8. ¿Existen valores nulos explícitos en el conjunto de datos?
    9. ¿De tener observaciones con valores nulos?      9.1 ¿Cuántas tenemos por cada variable?
    10. ¿Cuantos valores nulos tenemos en el total en el conjunto de datos?

## 2. El dataset
La informacion recolectada se encuentra en un archivo CSV (penguins), contiene 344 filas y 9 columnas. Despues de la limpieza veremos si se reducen las filas y/o la columnas de nuestro dataset.

## 3. Primer vistazo al dataset

In [3]:
#Importamos librerias/modulos
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#Leyendo el dataset
ruta="../data/penguins.csv"
data=pd.read_csv(ruta)

#Mostra el dataset
print(data.shape)
data.head()

(344, 9)

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007

## 4. Limpieza del dataset
Se realizara el proceso de limpieza teniendo en cuenta las siguietnes situaciones comunes:

    1. Datos faltantes en algunas celdas.
    2. Columnas irrelevantes (ques no corresponden al problema que queremos resolver)
    3. Registros (filas) repetidos.
    4. Valores extremos (outliers) en el caso de las variables numericas. Se deben analizar en detalle pues no necesariamente la soulucion es eliminarlos.
    5. Errores tipograficos en el caso de las variabe categoriccas.

Se supone que, al final de este proceso de limpieza deberiamos tener un set de datos
integro, listo para la fase de Análisis Exploratorio.

## 4.1 Datos faltantes
Aqui damos comienzo a los puntos anteriormente mencionados. El numero total de filas son 344.``

## 4.2 Columnas irrelevantes
Una columnas irrelenvante contiene:

    1. No contienen informcion relevante para el problema que queremos resolver.
    2. Una columnas categoria pero con un solo nivel.
    3. Una columna numerica pero con un solo valor.
    4. Columnas con informacion redundante.

Pero si se tiene dudas sobre una columnas puede ser relevante o no, lo mejor es dejarla,
y mas adelante en las sigueintes etapas, podremos darnos cuenta de si se preserva o no.

Todas las columnas categoricas, tienen que tener mas de un subnivel. Local no se elemina ninguna.

In [4]:
#Veamos que ocurren con las columnas numericas
data.describe()

,rowid,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year
count,344.000000,342.000000,342.000000,342.000000,342.000000,344.000000
mean,172.500000,43.921930,17.151170,200.915205,4201.754386,2008.029070
std,99.448479,5.459584,1.974793,14.061714,801.954536,0.818356
min,1.000000,32.100000,13.100000,172.000000,2700.000000,2007.000000
25%,86.750000,39.225000,15.600000,190.000000,3550.000000,2007.000000
50%,172.500000,44.450000,17.300000,197.000000,4050.000000,2008.000000
75%,258.250000,48.500000,18.700000,213.000000,4750.000000,2009.000000
max,344.000000,59.600000,21.500000,231.000000,6300.000000,2009.000000

Como se muestra, hay 6 columnas que tienen desviacion estandas (std) diferentes de cero, lo que indica que no tienen un unico valor.

## 4.3 Filas repetidas

In [5]:
print(f"Volumen del dataset antes de eliminar filas repetidas: {data.shape}")
data.drop_duplicates(inplace=True)
print(f"Volumen del dataset despues de eliminar filas repetidas: {data.shape}")

Volumen del dataset antes de eliminar filas repetidas: (344, 9)
Volumen del dataset despues de eliminar filas repetidas: (344, 9)

Como vemos, no hay filas repetidas, por ende, se mantienen las 344 filas y las 9 columas intactas.

## 4.3 Outliers (valores extremos) en variables numericas

## 4.4 Errores tipograficos en variables categoricas

## 4.6 Exportado resultados

Listo, ya se ha completado la fase de limpieza del dataset.